// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  height: 60vh;
  min-height: 500px;
background: linear-gradient(#e66465, #9198e5);
}

.navbar{
  background-color: #e66465 !important;
}
